{
    "extends": "@antfu",
    "rules": {
        "no-console": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1 }],
        "jsonc/indent": ["error", 4, { "SwitchCase": 1 }],
        "curly": ["error", "all"],
        "lines-between-class-members": "off",
        "@typescript-eslint/lines-between-class-members": "off"
    }
}
